{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <div class="r">
                    &laquo;<a>{{ product_data.name }}</a>&raquo;
                    <p>Стоимость {{ product_data.price }}</p>
                    <p>Дата выпуска {{ product_data.release_date }}</p>
                    {% if product_data.lte_exists == 1 %}
                        <p>Вналичии</p>
                    {% else %}
                        <p>Нет вналичии</p>
                    {% endif %}
                    <a><img src="{{ product_data.image }}" alt="Фотография" width="240" height="480"/></a>
            </div>
        </div>
    </div>
{% endblock %}